@import "tailwindcss";

body {
  background-color: rgba(128, 128, 128, 0.066);
  font-family: "Kumbh Sans", sans-serif;
}
th {
  font-weight: 700;
  font-size: 12px;
  color: #424242;
  text-align: start;
  position: sticky;
  padding: 8px 16px;
}
td {
  font-weight: 500;
  font-size: 12px;
  color: #4f4f4f;
  padding: 8px 16px;
}
